<header class="nav">
    <div class="brand">TuteeTutor Administration</div>
    <div class="nav-actions">
        <span class="nav-action">Welcome Username</span>
        <span class="nav-action"><a href="#">Change Password</a></span>
        <span class="nav-action"><a href="/logout">Logout</a></span>
    </div>
</header>