<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="stylesheets/about.css">
    <%- include("partials/header.ejs") %>
</head>

<body>
    <nav>
        <div class="leftnav">
            <div class="container-logo">
                <img src="images/logo.png" alt="TuteeTutor" height="35px" width="35px" style="border-radius: 50%;">
                <h2 id="logo-heading">TuteeTutor</h2>
            </div>
        </div>
        <div class="rightnav">
            <div class="nav-item">
                <a href="#home">HOME</a>
            </div>
            <div class="nav-item">
                <a href="#about">ABOUT</a>
            </div>
            <div class="nav-item">
                <a href="#help">HELP</a>
            </div>
            <div class="nav-item">
                <a href="#aboutus">ABOUT US</a>
            </div>
            <a href="/login">
                <button id="login">
                    LOGIN
                </button>
            </a>
        </div>
    </nav>
    <div class="page">
        <div id="head">
            <div>
                <h3>Track your overall academics at one place.</h3>
                <p>Only for IIITS students</p>
            </div>
            <div>
                <img src="../images/book.jpg" alt="" height="500px" width="400px">
            </div>
        </div>
    </div>
    <div class="page" id="about">
        <div class="box">
            <h2 style="padding-bottom: 50px;">ABOUT</h2>
            <div class="desc">
                <p>TuteeTutor is an innovative educational platform designed to optimize the interaction between
                    teachers and students. It offers a suite of features tailored to simplify administrative tasks
                    for
                    educators while providing students with convenient access to assignments, attendance records,
                    and
                    class schedules. By integrating tools for assignment management, attendance tracking, and
                    communication, TuteeTutor creates a collaborative learning environment where both teachers and
                    students can thrive.
                </p>
                <br>
                <p>For teachers, TuteeTutor streamlines the process of assigning tasks, updating attendance, and
                    sharing
                    evaluation plans, enabling them to focus more on teaching and less on administrative duties.
                    Meanwhile, students benefit from a centralized platform where they can easily access their
                    assignments, monitor their attendance, and stay organized with their timetable. With its
                    intuitive
                    interface and emphasis on communication and collaboration, TuteeTutor enhances the overall
                    educational experience for all stakeholders involved.</p>
                <br>
                <p>By revolutionizing the way educators and students engage with learning, TuteeTutor empowers both
                    parties to maximize their potential and achieve academic success. Through its comprehensive set
                    of
                    features and user-friendly interface, TuteeTutor facilitates seamless interaction and efficiency
                    in
                    educational processes, ultimately contributing to a more productive and engaging learning
                    environment.</p>
            </div>
        </div>
    </div>
    <div class="page" id="help">
        <div class="box">
            <div class="heading">
                <h2>HELP</h2>
                <h4>How Can We Help You ?</h4>
            </div>
            <div class="content">
                <div class="main">
                    <div class="mainoffice">
                        <i id="icon" class="fa-solid fa-location-dot fa-3x"></i>
                        <h2 id="center">Our Main Office</h2>
                        <p>630, Gnan Marg Sri City,</p>
                        <p>Sathyavedu,</p>
                        <p> Andhra Pradesh 517646</p>

                    </div>
                    <div class="mainoffice">
                        <i id="icon" class="fa-solid fa-phone fa-3x"></i>
                        <h2 id="center">Phone Number</h2>
                        <p id="subline">830-985-4701(Toll-free)</p>
                    </div>
                </div>
                <div class="main">
                    <div class="mainoffice">
                        <i id="icon" class="fa-solid fa-fax fa-3x"></i>
                        <h2 id="bottom">Fax</h2>
                        <p id="subline">1-234-567-8910</p>
                    </div>
                    <div class="mainoffice">
                        <i id="icon" class="fa-solid fa-envelope fa-3x"></i>
                        <h2 id="bottom">EMAIL</h2>
                        <p id="subline">iiitstuteetutor@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="box" id="aboutus" style="position: relative">
            <img id="teacher-bg" src="images/ab.jpg" style="position: absolute; left: 0; height: 500px; width: 400px;">
            <h2>About Us</h2>
            <div style="display:flex; flex-direction: column; width: 100%">
                <div style="display:flex; justify-content: right;">
                    <div class="dev-pic-cointainer">
                        <img class="dev-pic" src="images/Akshitha.jpeg">Akshitha
                    </div>
                    <div class="dev-pic-cointainer">
                        <img class="dev-pic" src="images/Lahari.jpeg">Lahari
                    </div>
                    <div class="dev-pic-cointainer">
                        <img class="dev-pic" src="images/Vishwaksen.jpeg">Vishwaksen
                    </div>
                </div>
                <div style="display:flex; justify-content: right;">
                    <div class="dev-pic-cointainer">
                        <img class="dev-pic" src="images/Naveen.jpeg">Naveen
                    </div>
                    <div class="dev-pic-cointainer">
                        <img class="dev-pic" src="images/Tanush.jpeg">Tanush
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>