<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/about.css">
    <title>TuteeTutor</title>
    <link rel="shortcut icon" href="favicon_io/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
    <div class="box">
        <div class="nav">
            <div class="tu"><img id="logo" src="images/logo.png">
                <h1>TuteeTutor</h1>
            </div>
            <div class="tee">
                <a href="/login">LOGIN</a>
            </div>
            <div class="tee">
                <a href="#home">HOME</a>
            </div>
            <div class="tee">
                <a href="#about">ABOUT</a>
            </div>
            <div class="tee">
                <a href="#help">HELP</a>
            </div>
            <div class="tee">
                <a href="#aboutus">ABOUT US</a>
            </div>
        </div>
        <div class="head" id="home">
            <div>
                <h3>Track your overall academics at one place.</h3>
                <p>Only for IIITS students</p>
            </div>
            <div>
                <img src="../images/book.jpg" alt="" height="500px" width="400px">
            </div>
        </div>
        <div class="about" id="about">
            <h1 style="font-size: 100px;">ABOUT</h1>
        </div>
        <div class="desc">
            <div class="desc1">
                <p>TuteeTutor is an innovative educational platform designed to optimize the interaction between
                    teachers and students. It offers a suite of features tailored to simplify administrative tasks for
                    educators while providing students with convenient access to assignments, attendance records, and
                    class schedules. By integrating tools for assignment management, attendance tracking, and
                    communication, TuteeTutor creates a collaborative learning environment where both teachers and
                    students can thrive.</p>

                <p>For teachers, TuteeTutor streamlines the process of assigning tasks, updating attendance, and sharing
                    evaluation plans, enabling them to focus more on teaching and less on administrative duties.
                    Meanwhile, students benefit from a centralized platform where they can easily access their
                    assignments, monitor their attendance, and stay organized with their timetable. With its intuitive
                    interface and emphasis on communication and collaboration, TuteeTutor enhances the overall
                    educational experience for all stakeholders involved.</p>

                <p>By revolutionizing the way educators and students engage with learning, TuteeTutor empowers both
                    parties to maximize their potential and achieve academic success. Through its comprehensive set of
                    features and user-friendly interface, TuteeTutor facilitates seamless interaction and efficiency in
                    educational processes, ultimately contributing to a more productive and engaging learning
                    environment.</p>
            </div>
        </div>
        <div class="help" id="help">
            <div class="inner">
                <div class="heading" style="color: white;">
                    <h1 style="font-size: 100px;">HELP</h1>
                    <h1 style="color: white">How Can We Help You ?</h1>
                </div>
                <div class="content">
                    <div class="innercontent">
                        <div class="main">
                            <div class="mainoffice">
                                <i id="icon" class="fa-solid fa-location-dot fa-5x"></i>
                                <h1 id="center">Our Main Office</h1>
                                <p>
                                    630, Gnan Marg Sri City, Sathyavedu, Andhra Pradesh 517646
                                </p>
                            </div>
                            <div class="mainoffice">
                                <i id="icon" class="fa-solid fa-phone fa-5x"></i>
                                <h1 id="center">Phone Number</h1>
                                <p id="subline">830-985-4701(Toll-free)</p>
                            </div>
                        </div>
                        <div class="main">
                            <div class="mainoffice">
                                <i id="icon" class="fa-solid fa-fax fa-5x"></i>
                                <h1 id="bottom">Fax</h1>
                                <p id="subline">1-234-567-8910</p>
                            </div>
                            <div class="mainoffice">
                                <i id="icon" class="fa-solid fa-envelope fa-5x"></i>
                                <h1 id="bottom">EMAIL</h1>
                                <p id="subline">iiitstuteetutor@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box1" id="aboutus">
            <div class="innerbox">
                <div class="inner1">
                    <div class="inner2">
                        <div class="inner4">
                            <img id="class" src="images/ab.jpg">
                        </div>
                        <div class="inner5">
                            <div class="inn5">
                                <h1 style="font-size: 100px;margin-top: 0px;">
                                    About Us
                                </h1>
                            </div>
                            <div class="inn6">
                                <div style="display:flex;flex-direction: column;">
                                    <img id="im" src="images/Akshitha.jpeg">Akshitha
                                    <img id="im" src="images/Lahari.jpeg">Lahari
                                    <img id="im" src="images/Vishwaksen.jpeg">Vishwaksen
                                </div>
                                <div style="margin-left:100px;display:flex;flex-direction: column;">
                                    <img id="im" src="images/Naveen.jpeg">Naveen
                                    <img id="im" src="images/Tanush.jpeg">Tanush
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>