<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/course.css">
    <%- include("partials/header.ejs") %>
</head>

<body>
    <div class="box">
        <div class="box1">
            <div class="ibox1">
                <img class="logo" src="images/logo.png" style="border-radius: 50%;">
                <h2 id="title">TuteeTutor</h2>

            </div>
            <div class="ibox" id="div1" style="display: block;">
                <div class="inbox">
                    <div class="innbox" id="poi" style="margin-right: 50px;" onclick="getVal1('UG1');replace()"
                        value="UG1">
                        <p>UG1</p>
                    </div>
                    <div class="innbox" id="poi" onclick="getVal1('UG2');replace()" value="UG2">
                        <p>UG2</p>
                    </div>
                </div>
                <div class="inbox">
                    <div class="innbox" id="poi" style="margin-right: 50px;" onclick="getVal1('UG3');replace()"
                        value="UG3">
                        <p>UG3</p>
                    </div>
                    <div class="innbox" id="poi" onclick="getVal1('UG4');replace()" value="UG4">
                        <p>UG4</p>
                    </div>
                </div>

            </div>
            <div class="ibox" id="div2" style="display: none;">
                <div class="inbox">
                    <div class="inbox1">
                        <div class="innbox" id="poi" style="margin-bottom: 30px;" onclick="getVal('CSE')"
                            value="CSE">
                            <p>CSE</p>
                        </div>
                        <div class="innbox" id="poi" onclick="getVal('ECE')" value="ECE">
                            <p>ECE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="javascripts/course.js"></script>
</body>

</html>