<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/faculty.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%- include("partials/header.ejs") %>
</head>

<body>
    <%- include("partials/loading.ejs") %>
        <div class="loader">
            <div class="book">
                <div class="book__pg-shadow"></div>
                <div class="book__pg"></div>
                <div class="book__pg book__pg--2"></div>
                <div class="book__pg book__pg--3"></div>
                <div class="book__pg book__pg--4"></div>
                <div class="book__pg book__pg--5"></div>
            </div>
        </div>
        <div class="sidebar" id="side">
            <div class="top">
                <ul>
                    <div>
                        <li>
                            <a href="#">
                                <img src="images/user-profile.webp" alt="user" height="20px" width="20px"
                                    style="padding: 15px;">
                                <span class="nav-item">Username</span>
                            </a>
                        </li>
                        <li>
                            <a href="/home">
                                <i class="fa-regular fa-user icon"></i>
                                <span class="nav-item">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/timeTable" target="_blank">
                                <i class="fa-solid fa-list icon"></i>
                                <span class="nav-item">TimeTable</span>
                            </a>
                        </li>
                        <li>
                            <a href="/almanac" target="_blank">
                                <i class="fa-regular fa-calendar icon"></i>
                                <span class="nav-item">Almanac</span>
                            </a>
                        </li>
                    </div>
                    <div>
                        <li>
                            <a href="/settings">
                                <i class="fa-solid fa-gear icon"></i>
                                <span class="nav-item">Settings</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="user"></div>
        </div>
        <div class="main">
            <nav>
                <div class="rightnav">
                    <div class="container-logo">
                        <img src="images/logo.png" alt="TuteeTutor" height="35px" width="35px" style="border-radius: 50%;">
                        <h2 id="logo-heading">TuteeTutor</h2>
                    </div>
                </div>
                <div class="leftnav">
                    <div class="search-container">
                        <button class="icon-button">
                            <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                        </button>
                        <input type="search" placeholder="Search">
                    </div>
                    <div class="user-profile"
                        style="color: white; display: flex; align-items: center; justify-content: left; width: 200px; border-left: 1px solid grey;">
                        <img src="images/profile-img.png" alt="profile-pic" height="50px" width="50px"
                            style="padding: 0px; border: 1px white solid; border-radius: 10px; margin: 0px 10px;">
                        <div>
                            <p id="profile-name">
                            </p>
                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: .8rem;" id="profile-email">
                            </p>
                        </div>
                    </div>
                    <div id="profile-menu">
                        <ul>
                            <li>
                                <i class="fa-regular fa-circle-question"></i>
                                <span class="nav-item">Help</span>
                            </li>
                            <a href="/settings">
                                <li>
                                    <i class="fa-solid fa-gear icon"></i>
                                    <span class="nav-item">Settings</span>
                                </li>
                            </a>
                            <hr>
                            <li>
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                <span class="nav-item">Logout</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="grid-container">
                <div class="grid-item item1">
                    <div class="gri">
                        <div class="small-card card1">
                            <div class="head">
                                <h3 class="tot-assignments-heading">
                                    Total Assignments
                                </h3>
                            </div>
                        </div>
                        <div class="small-card grid-item card2">
                            <div class="head">
                                <h3 class="tot-assignments-heading">
                                    Marks
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="small-card grid-item card3">
                        <div class="head">
                            <h3 class="todolist-heading">
                                To-do List
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="grid-item item2">
                    
                </div>
                <div class="grid-item item3">
                    <div class="header">
                        <h3 class="heading">
                            Upcoming Holidays
                        </h3>
                    </div>
                    <div class="holidays-content">
                    </div>
                </div>
                <div class="grid-item item4">
                    <div class="header">
                        <h3 class="heading">
                            Classes Schedule
                        </h3>
                    </div>
                    <div class="classes-content">
                        
                    </div>
                </div>

            </div>
        </div>
        <script src="javascripts/faculty.js" type="module"></script>
</body>

</html>