<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include("partials/header.ejs") %>
</head>

<body>
    <%- include("partials/loading.ejs") %>
    <div class="main">
        <div class="login">
            <img src="images/you.png" alt="teacher" width="800" height="500" id="sideImage">
            <div class="bgcontainer">
                <div class="container">
                    <form class="form" style="display:flex; flex-direction:column; align-items:center">
                        <div class="input-container logo">
                            <img src="images/logo.png" alt="TuteeTutor" height="50px" width="50px"
                                style="border-radius: 10px;">
                            <h2 id="title">TuteeTutor</h2>
                        </div>
                        <% if (error) { %>
                            <div class="messageBlock">
                                <p id="message"><%= error %></p>
                            </div>
                        <% } %>
                        <div class="middle">
                            <div class="input-container inputs email">
                                <div class="inline">
                                    <i class="fa-solid fa-user" style="color: #000000;"></i>
                                    <label for="email">Email</label>
                                </div>
                                <div class="holder-container" id="email-container">
                                    <input type="email" class="holder" id="email" name="email"
                                        placeholder="Your email here" required autocomplete="name">
                                </div>
                            </div>
                            <div class="input-container">
                                <button id="submit" type="submit">Request OTP</button>
                            </div>
                            <div class="signup">
                                <p>Remember your password?</p>
                                <a href="/login">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>