* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/images/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 20px);
    height: 70px;
    background-color: black;
    z-index: 1;
}

.container-logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

#logo-heading {
    padding-left: 15px;
    color: white;
    font-family: "Agbalumo", sans-serif;
    font-size: larger;
    font-weight: 100;
}


.rightnav {
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: large;
    color: white;
    font-family: "Work Sans", sans-serif;
}

#login {
    height: 50px;
    width: 100px;
    background-color: #b19e7a;
    border-radius: 10px;
    font-size: large;
    color: white;
}

#login:hover {
    cursor: pointer;
    background-color: #74674c;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 20px);
}

#head {
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    width: 100%;
    padding: 50px;
}

#head img {
    margin-left: 60px;
    margin-right: 0;
    border-radius: 10px;
}


h1 {
    padding-bottom: 50px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.box {
    background-color: white;
    color: black;
    width: 70%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

p {
    text-align: center;
    font-size: medium;
    font-family: "Work Sans", sans-serif;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mainoffice {
    display: flex;
    width: 300px;
    height: 220px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dev-pic {
    border-radius: 20px;
    width: 150px;
    margin: 15px;
}

.dev-pic-cointainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}