* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 15px;
}

body {
    height: 100%;
    margin-left: 3rem;
    background-color: #e6e6e8;
}

.full {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    /* backdrop-filter: blur(5px); */
    z-index: 3;
    left: 0px;
    top:0px;
}

.confirmation {
    display: flex;
    overflow: hidden;
    transition: all 0.1s ease-in;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    width: 0;
    height: 0;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.yes, .no {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    margin: 0px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.yes {
    background-color: red;
}

.no {
    background-color: green;
}

.sidebar {
    position: fixed;
    z-index: 1;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30px;
    background-color: black;
    padding: .4rem .8rem;
    transition: all 0.5s ease-in;
}

.sidebar ul {
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    padding-right: 10px;
}

.sidebar.active~main-content {
    left: 170px;
    width: calc(100% - 170px);
}

.sidebar.active {
    width: 170px;
}

.user {
    display: flex;
    align-items: center;
    margin: 0rem 0 1rem 0;
}

.user img {
    border-radius: 100%;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.sidebar ul {
    /* margin: 80px 0px; */
    width: 98%;
    height: 100vh;
}


.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 100%;
    margin: 0.8rem auto;
    line-height: 50px;
    display: flex;
    justify-content: left;
}

.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li:hover a {
    color: black;
}

.sidebar ul li:hover a .icon {
    color: black;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar.active ul li a i {
    text-align: center;
}

.sidebar.active ul li {
    font-size: 1.3rem;
    /* padding: 0px 15px; */
}

.sidebar.active ul li:hover {
    box-shadow: 0 0.5rem 0.8rem rgba(80, 80, 80, 0.2);
    background-color: #ddd;
    border-radius: 8px;
}

.sidebar .nav-item {
    display: none;
}

.sidebar.active .nav-item {
    display: block;
    padding: 5px;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateX(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    display: none;
    background-color: transparent;
}

.sidebar ul li:hover .tooltip {
    display: block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

nav {
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 97vw;
    height: 70px;
    background-color: black;
    padding-right: 50px;
    z-index: 2;
}


.container-logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

#logo-heading {
    padding-left: 15px;
    color: white;
    font-family: "Agbalumo", sans-serif;
    font-size: larger;
    font-weight: 100;
}

.leftnav {
    display: flex;
    justify-content: right;
}

.user-profile {
    cursor: pointer;
}

#profile-name {
    font-size: larger;
    font-family: sans-serif;
}


.user-profile:hover + #profile-menu {
    height: 130px;
    width: 250px;
    display: block;
}

#profile-menu:hover {
    height: 130px;
    width: 250px;
    display: block;
}

#profile-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0px;
    top: 70px;
    height: 0px;
    width: 250px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.25s ease-in;
    overflow: hidden;
}

#profile-menu li {
    height: 35px;
    width: 87%;
    margin: 5px 2px;
    padding-left: 30px;
    list-style: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

#profile-menu a {
    text-decoration: none;
    color: white;
}
#profile-menu li span {
    margin: 0px 10px;
}

#profile-menu li:hover {
    background-color: grey;
}

.item1 {
    grid-area: assignments;
}

.item2 {
    grid-area: graph;
}

.item3 {
    grid-area: holidays;
}

.item4 {
    grid-area: classes;
}

.grid-container {
    position: relative;
    top: 70px;
    display: grid;
    grid:
        'assignments assignments assignments classes classes'
        'graph graph graph classes classes'
        'graph graph graph holidays holidays'
        'graph graph graph holidays holidays';
    gap: 10px;
    height: calc(100vh - 100px);
    padding: 10px;
}

.grid-item {
    padding: 1rem;
    /* border: 1px solid #ddd; */
    /* background-color: aliceblue; */
}

.item1 {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.7rem;
    background-color: white;
    border-radius: 10px;
}

.small-card {
    color: white;
    padding: 0px;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.card1 {
    background: linear-gradient(to bottom right, #FFC0CB, #8A2BE2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card1:hover {
    background: linear-gradient(to bottom right, #e9967a, #8a2be2);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 40px 80px -20px inset, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px inset;
}

.card2 {
    background: linear-gradient(to bottom right, #C9F6FF, #35D6ED);
    margin-left: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.card2:hover {
    background: linear-gradient(to bottom right, #cadbf8, #5dc4e7 60%);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 40px 80px -20px inset, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px inset;
}

.card3 {
    color: white;
    background: linear-gradient(to bottom right, #FEDE00, #FF5349);
    transition: box-shadow 0.3s;
}

.card3:hover {
    background: linear-gradient(to bottom right, #FEDE00, #FF5349);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 40px 80px -20px inset, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px inset;
}


.item2 {
    grid-column: 1/ span 3;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 0.7rem;
    border-radius: 10px;
}

.item3 {
    margin-top: 0;
    padding: 0;
    overflow: auto;
    border-radius: 10px;
    width: 96%;
    margin-right: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;     */
    align-items: center;
}

.item4 {
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 96%;
    height: 350px;
    background-color: white;
}

.total-heading {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 39rem;
}



.heading-text {
    margin-left: 3rem;
}

#greeting,
#saying {
    text-align: center;
    margin: 2px;
}

#greeting {
    font-size: 2.7rem;
    margin-bottom: 0.5vh;
}

#saying {
    font-size: large;
}

.search-container {
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 20px;
    height: 30px;
    width: 250px;
    border-bottom: 2px solid grey;
    border-radius: 5px;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}

.icon-button {
    border: none;
    background-color: white;
    margin-right: 10px;
}

input[type="search"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: none;
    background-color: white;
}

.classes-heading {
    margin-top: 10px;
    font-size: 3.7vh;
    text-align: center;
    padding-left: 5px;
}

.presentClass,
.nextClass {
    background-color: #cbecf7;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}

.room,
.time {
    font-size: larger;
    padding: 0;
    margin: 10px;
}

.class {
    font-size: x-large;
    margin: 0;
    padding: 0;
}

#noClass {
    display: none;
}

.assignments-heading,
.evaluation-heading,
.announcement-heading {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.header {
    /* display: flex;
    justify-content: center;    
    align-items: center; */
    width: 100%;
    /* height: ; */
    border-bottom: 1px grey solid;
    background-color: #3D3B40;
}

.heading {
    color: white;
    /* margin-top: 10px; */
    font-size: large;
    font-family: "Madimi One", sans-serif;
    font-weight: 100;
    text-align: center;
    padding: 15px 5px;
}

.reason {
    text-align: center;
    font-size: 3.5vh;
}

.date-holiday {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.holiday-1 {
    padding: 5px;
    margin: 10px;
    background: linear-gradient(to right, #88dbf9, #86d3f14d);
    border-radius: 2vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.presentClass,
.nextClass,
.holiday-1 {
    animation: fadeIn 1s ease forwards;
}

.holidays-content,
.classes-content {
    background-color: #C7C8CC;
    overflow: scroll;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classes-card {
    min-height: 100px;
}

#present-classes-card {
    background-color: #525CEB;
    color: white;
}

.holiday-card,
.classes-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin: 5px;
    padding: 5px;
}

.hover-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.hover-table{
    /* margin-top: 10%; */
    background-color: whitesmoke;
    border-radius: 20px;
    color: rgb(0, 22, 69);
    width: 75%;
    height: 50vh;
    margin: 10rem;
    /* margin-bottom: 6rem; */
    /* margin-right: 3rem; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.hover-table h1{
    text-align: center;
    font-size: 40px;
    margin: 10px;
    border-bottom: 2px solid rgb(0, 22, 69);
}

table {
    border-collapse: collapse; 
    width: 90%; 
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    font-size: 1.5rem;
}
th, td {
    padding: 8px; 
    text-align: left; 
}

table th:not(:last-child), table td:not(:last-child) {
    border-right: 2px solid black;
}



